body 
{
font-family: Arial, sans-serif;
background-color: #f4f4f4;
margin: 0;
padding: 0;
}
.task-box
{
background-color: #fab62f;
width: 400px;
padding: 20px;
border-radius: 5px;
}
.navbar
{
    width: 400px !important;
    margin: 50px auto;
    background-color: #ffffff;


}
.navbar-nav
{
    margin-left: auto;
    margin-right: auto;

}
.navbar-nav li a
{
    font-size: 1.2rem;
    padding: 10px 15px;
}
.navbar-nav a 
{
    color: #000 !important;
    font-size: 18px;
}